body, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding-left: 0px;
}

:root {
    --header-height: 70px;
    --max-page-width: 1000px;
}

main {
    padding-top: var(--header-height);
    max-width: var(--max-page-width);
    margin: 0 auto;
    padding: var(--header-height) 16px 40px;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}


/* .brushed {
    stroke-width: 1;
    stroke: gray;
    r: 5;
} */