body, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding-left: 0px;
}

:root {
    --header-height: 70px;
    --max-page-width: 1000px;
}

main {
    max-width: var(--max-page-width);
    margin: var(--header-height) auto 0;
    padding: 20px 16px 40px;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px, rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}
section h3 {
    margin-bottom: 8px;
}

@media (min-width: 1000px) {
    .choose-section {
        display: flex;
        justify-content: space-between;
    }
    .choose-section .position-check-section,
    .choose-section .hor-ver-select-section {
        flex: 0.49;
    }
}


.hor-ver-select-section {
    display: flex;
}

.hor-ver-select-section .hor,
.hor-ver-select-section .ver {
    flex: 1;
}

@media (min-width: 1000px) {
    .scatter-box-plot-container {
        display: flex;
        justify-content: space-between;
    }
    .scatter-box-plot-container .scatter-section,
    .scatter-box-plot-container .box-section {
        flex: 0.49;
    }
}


.data-table-comp {
    width: 100%;
    overflow-x: scroll;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    height: 400px;
    overflow-y: scroll;
}

.data-table-comp > table {
    position: relative;
    border-collapse: collapse;
    border-spacing: 0px;
}

.data-table-comp thead {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #999999;
}

.data-table-comp thead th {
    padding: 12px 16px;
}

.data-table-comp tbody {
    color: #444444;
}

.data-table-comp tbody td {
    padding: 12px; 
}
.data-table-comp tbody tr {
    border-bottom: 1px solid #dddddd;
    height: 20px;
    cursor: pointer;
}
.data-table-comp tbody tr:hover {
    background-color: #eeeeee;
    color: #000000;
}

.radarchart-section {
    display: flex;
}

.radarchart-section .left,
.radarchart-section .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radarchart-section .left img,
.radarchart-section .right img {
    width: 100px;
    margin-bottom: 12px;
}

#radarchart-comp {
    overflow: hidden;
}

#left-player-name,
#right-player-name {
    font-size: 16px;
    margin-bottom: 12px;
    display: inline-block;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (min-width: 1000px) {
    #left-player-name,
    #right-player-name {
        font-size: 20px;
    }
}

.player-tooltip {
    padding: 4px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 4px;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 12px;
}
.player-tooltip .profile-image {
    width: 50px;
    
}
.player-tooltip .id {
    font-size: 16px;
    font-weight: 600;
}

.stat-tooltip {
    padding: 8px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 4px;
    color: #ffffff;
    font-size: 12px;
}
.stat-tooltip .id {
    font-size: 16px;
    font-weight: 600;
}

/* .brushed {
    stroke-width: 1;
    stroke: gray;
    r: 5;
} */