body, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding-left: 0px;
}

:root {
    --header-height: 70px;
    --max-page-width: 1000px;
}

main {
    max-width: var(--max-page-width);
    margin: var(--header-height) auto 0;
    padding: 20px 16px 40px;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px, rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}

.data-table-comp {
    width: 100%;
    overflow-x: scroll;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    height: 400px;
    overflow-y: scroll;
}

.data-table-comp > table {
    position: relative;
    border-collapse: collapse;
    border-spacing: 0px;
}

.data-table-comp thead {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #999999;
}

.data-table-comp thead th {
    padding: 12px 16px;
}

.data-table-comp tbody {
    color: #444444;
}

.data-table-comp tbody td {
    padding: 12px; 
}
.data-table-comp tbody tr {
    border-bottom: 1px solid #dddddd;
    height: 20px;
}
.data-table-comp tbody tr:hover {
    background-color: #eeeeee;
    color: #000000;
}

/* .brushed {
    stroke-width: 1;
    stroke: gray;
    r: 5;
} */